body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #000, #1a1a1a);
  font-family: Arial;
}

.calculator {
  width: 330px;
  padding: 20px;
  border-radius: 25px;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 40px rgba(255,215,0,0.3);
}

.header {
  text-align: center;
  color: gold;
}

#display {
  width: 100%;
  height: 60px;
  margin: 15px 0;
  font-size: 26px;
  text-align: right;
  border-radius: 10px;
  border: none;
  background: black;
  color: gold;
  padding: 10px;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  border: none;
  border-radius: 12px;
  background: #111;
  color: gold;
  font-size: 18px;
  transition: 0.2s;
}

button:hover {
  background: gold;
  color: black;
}

button:active {
  transform: scale(0.9);
}

.equal {
  background: gold;
  color: black;
}

.zero {
  grid-column: span 2;
}

.ac {
  color: red;
}

.footer {
  text-align: center;
  color: gray;
  margin-top: 10px;
}
